# Include all YAML configuration files
recursive-include sam3/train/configs *.yaml
recursive-include sam3/train/configs *.yml
# Include any other necessary files
include sam3/train/*.py
include sam3/train/pre_exec.sh
include sam3/train/sam3-sagemaker-requirements.txt
recursive-include sam3/assets *